
chamcode/.vs/chamcode/v16/.suo
chamcode/.vs/chamcode/v16/Server/sqlite3/db.lock
chamcode/bai2_tong2so/obj/Debug/netcoreapp3.1/bai2_tong2so.assets.cache
chamcode/.vs/chamcode/v16/Server/sqlite3/storage.ide
chamcode/bai3_Tong_Hieu_Tich_Thuong/obj/Debug/netcoreapp3.1/bai3_Tong_Hieu_Tich_Thuong.csproj.FileListAbsolute.txt
*.cache
